# local files
config.py
orisa.log*
*.sqlite
logging.yaml
.weblate.ini

# Development
*.bat
*.exe
dummy.py

# Setuptools
.eggs
orisa.egg-info

# Editors
.*.swp
.vscode

__pycache__


.DS_Store
node_modules
orisa-web/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*