[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
"html5lib" = "*"
lxml = "*"
sqlalchemy = "*"
trio = "*"
fuzzywuzzy = {extras = ["speedup"]}
pyyaml = "*"
pendulum = "*"
"discord-curious" = {path = "../curious", editable = true}
cachetools = "*"
wcwidth = "*"
tabulate = "*"
pandas = "*"
seaborn = "*"

[dev-packages]
# pylint = "*"
# "flake8" = "*"

[requires]
python_version = "3.6"
