[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
curio = "*"
dataclasses = "*"
"html5lib" = "*"
lxml = "*"
sqlalchemy = "*"
fuzzywuzzy = {extras = ["speedup"]}
"bd7baa4" = {path = "./../curious", editable = true}
pyyaml = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
