[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"html5lib" = ">=1.0.1,<2.0.0"
lxml = "*"
sqlalchemy = "*"
trio = ">=0.10.0,<0.11.0"
fuzzywuzzy = {extras = ["speedup"]}
pyyaml = "*"
pendulum = "*"
discord-curious = {editable = true,git = "https://github.com/brakhane/curious.git",ref = "10s-timeout"}
cachetools = "*"
wcwidth = "*"
tabulate = "*"
pandas = "*"
seaborn = "*"
raven = "*"
quart-trio = "*"
hypercorn = ">=0.5.0,<0.5.3"
oauthlib = "*"
itsdangerous = "*"
"dataclasses-json" = "*"
"asks" = "*"

[dev-packages]
black = "*"
# pylint = "*"
# "flake8" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
