.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.fade-drop-enter-active, .fade-drop-leave-active {
    transition: all .5s;
}

.fade-drop-enter, .fade-drop-leave-to {
    transform: translateY(-100px);
    opacity: 0;
}

.translucent {
    opacity: 0.9;
}